.profileDivIameUsser{
  width:600px;
}
.profileImage{
  height: 190px;
  width: 190px;
  border-radius: 100px;
}
.profileDivCompaniName{
  float:right;
  margin-top: 50px;
  color:#2A3E93;
}
.profileCompaniName{
  font-weight: bolder;
  font-size: 35px;
}
/****************************/
/******  dropdown menu ******/
.profileDropdownMenu{
  background-color: white;
  border: 3px solid #2A3E93;
  color:#2A3E93;
  width: 400px;
  height: 75px;
  margin-top: 40px;
  border-radius: 15px;
  font-size: 28px;
  font-weight: bolder;
  /* webkit for remove arrow right */
  -webkit-appearance:none;/* Safari and Chrome */
  -moz-appearance:none;/* Firefox */
  }
.profileDropdownMenuOptions{
  padding-left: 25px;
}
/****************************/

.profileText1{
  font-size: 28px;
  font-weight: bolder;
  color:#2A3E93;
  margin-top: 50px;
}
.profileText2{
  font-size: 23px;
  color:#2A3E93;
  margin-bottom: 40px;
}
.profileStaffNumber{
  width: 130px;
  height: 50px;
  background-color: #F2F2F2;
  border-style: none;
  color:#2A3E93;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px;
}
.profileStaffNumberLeftSpae{
  margin-left: 40px;
}
.profileSpacerTop{
  font-size: 4px;
  color:white;
}
/**********************************/
.profileDiv4{
  margin-top: 25px;
}
.profileText3{
  font-weight: bold;
  color:#2A3E93;
}
.profileInputStyle{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #2A3E93;
  width: 400px;
  margin-top: 5px;
  margin-bottom: 40px;
  color:#2A3E93;
  font-size: 25px;
  padding-left: 25px;

}
.profileDivInput{
  margin-left: 120px;
}
/**********************************/
.profileDiv5{
  margin-top: 50px;
}
.profileText4{
  font-size: 28px;
  font-weight: bold;
  color:#2A3E93;
}
.glyphicon-plus-sign{
  color:#2A3E93;
  font-size: 20px;
  margin-left: 10px;
}
/**********************************/
.profileDiv6{
}
.profileDivFoother{
  margin-top: 50px;
}
.profileText5{
  font-size: 20px;
  font-weight: bold;
  color:#2A3E93;
}
.profileText6{
  font-size: 20px;
  color:#2A3E93;
}
.profileDiv7LeftFix{
}
.profileRightLine{
  border-right: 2px solid #2A3E93;
  margin-bottom: 40px;
}
/**********************************/
.inline{
  display: inline-block;
}
/*$(".theComboExample").theCombo();*/
