<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <!--  center center with main div  -->
    <div class="col-md-6">
      <!--  mainDiv -->
      <div class="mainDiv2  ">
        <!--  div color blue with logo frenzy-->
        <div class="content1">
          <center>
            <img src="img/logo2.png" alt="" class="logoSignup" />
          </center>
        </div>
        <!--  div color white with input data  -->
        <div class="content2">
          <div class="inputDiv">
            <!--  email input  -->
            <p class="titleSingup">Correo Electrónico</p>
            <input class="inputStyle" type="email"  ng-model="user.email" id="email">
            <br>
            <!--  name input -->
            <p class="titleSingup">Nombre</p>
            <input class="inputStyle" type="text"  ng-model="user.username" id = "nombre">
            <br>
            <!--  company name  -->
            <p class="titleSingup">Nombre de la Empresa</p>
            <input class="inputStyle" type="text"   ng-model="user.empresa" id="empresa">
            <br>
            <!--  nit  -->
            <p class="titleSingup">Numero de Nit  </p>
            <input class="inputStyle" type="text"  ng-model="user.nit" id="nit">
            <br>
            <!--  password input  -->
            <p class="titleSingup">Password</p>
            <input class="inputStyle" type="password" ng-model="user.password" id = "password">
          </div>
          <br><br>
          <!--  register button  -->
          <div class="RegisterDiv">
            <a href="#/menu">
              <!--  button  -->
              <button class="buttonStyleSignup" type="button" name="button" ng-click="signUp(user)">REGISTRARME</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
